<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loginstyle.css') }}">
</head>


<body>
    <div class="form-container">

        <form method="POST" action="">
           <h1>Welcome to HKTVmall.</h1>
           <h3>login now</h3>
           {{ form.hidden_tag() }}
           {{ form.username }}
           {{ form.password }}
           {{ form.submit }}
           <p></p>
           <a href="{{ url_for('register') }}">don't have an account? register now</a>
        </form>
     
     </div>
    
</body>

</html>